name: e2e-exports

on:
  push:

jobs:
  e2e-exports:
    if: "!contains(toJSON(github.event.commits.*.message), '[skip ci]')"
    runs-on: ubuntu-latest
    env:
      DEBUG: currents:*

    strategy:
      matrix:
        node-version: ["18", "20"]

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install alternative cypress binaries
        run: CYPRESS_DOWNLOAD_MIRROR=https://cy-cdn.currents.dev npx cypress install@12.17.4 --force

      - name: Install npm
        run: npm install -g npm@latest

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Link monorepo packages
        run: npm install

      - name: Test Exports
        working-directory: ./e2e/exports
        run: |
          npm run testexports
